@model CallScheduler.Models.Bank

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="row badge badge-success">
        <dt>
            @Html.DisplayNameFor(model => model.BankCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RcNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RcNo)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.BankLogo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankLogo)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="badge badge-primary" asp-action="Index">Back to List</a>
</div>
