@model CallScheduler.Models.Engineer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Engineer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EngineerCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EngineerCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Passport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>*@
    </dl>
</div>
<div>
    <a class="badge badge-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="badge badge-primary" asp-action="Index">Back to List</a>
</div>
